.home{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.session{
    height: 3%;
    margin: 0.5vh;
}
.detailsArea{
    background-color: e0ebeb;
    border: 1px solid black;
    height: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25cm;
}
.cap{
    display: flex;
    border: 1px solid black;
    height: 24%;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.25cm;
}
.capabilities{
overflow-y: scroll;
border: 1px solid black;
width: 50%;
}
.desiredCapabilities{
width: 50%;
overflow-y: scroll;
border: 1px solid black;
}
#buttons{
    border: 1px solid black;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 3%;
    margin: 1vh;
}
.tabs{
    border: 1px solid black;
        background-color: lemonchiffon;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 3%;
        margin: 1vh;
}

.textarea {
    height: 56%;
    overflow-y: scroll;
    // height: 100px;
    resize: none;
    /* Remove this if you want the user to resize the textarea */
}
#textarea2 {
    margin: 1cm;
    height: 56%;
    overflow-y: scroll;
    background-color: white;
}