.sessionList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#btn{
height: 4%;
margin: 0.5vh;
font-weight: bold;
}
#txtarea{
width: 100%;
height: 96%;
overflow-y: auto
}
.sessionListItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemsList {

    background-color:rgb(255, 255, 255);
}
#android{
    font-weight: bold;
}
#emulator{
    font-weight: bold;
}