#btn{
height: 4%;
margin-left: 0.125vh;
margin-right: 0.125vh;
margin-bottom: 0.5vh;
margin-top: 0.5vh;
font-weight: bold;
border-color: #1976d2;
}
.sessionListItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemsList {
    padding-bottom: 2%;
    background-color:rgb(255, 255, 255);
}
